Trik qolgan ayollarning sonini topish

In [9]:
import pandas as pd


df = pd.read_csv("Titanic Dataset.csv")


count = 0

df = df[(df['sex']=='female') & (df['survived']==1)]

df['survived'].count()

np.int64(339)

339 ta ekan

Trik qolgan erkaklarning sonini topish

In [ ]:
import pandas as pd


df = pd.read_csv("Titanic Dataset.csv")


count = 0

df = df[(df['sex']=='male') & (df['survived']==1)]

df['survived'].count()

np.int64(161)

161 ta ekan

#############

In [22]:
df = pd.read_csv("Titanic Dataset.csv")
df = df[(df['pclass']==1) & (df['survived']==1)]
df["survived"].count()

np.int64(200)

In [32]:
import pandas as pd

s = pd.Series([10, 20, 30])
print(s)

0    10
1    20
2    30
dtype: int64